/* setup fonts */

@font-face {
    font-family: BerlinSans;
    src: url(./fonts/BerlinSansFBDemiBold/BerlinSansFBDemiBold.ttf);
}

@font-face {
    font-family: MyriadProBold;
    src: url(./fonts/MyriadPro/MyriadProBold.ttf);
}

@font-face {
    font-family: MyriadProRegular;
    src: url(./fonts/MyriadPro/MyriadProRegular.ttf);
}

@font-face {
    font-family: Bauhaus93;
    src: url(./fonts/Bauhaus93/Bauhaus93Regular.ttf);
}

:root {
    --main-color: #39b54a;
    --body-bg: #000;
    --txt-color: #fffefe;

    --header-size: 127px;
    --logo-size: 214px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--body-bg);
    color: var(--txt-color);
    font-family: MyriadProRegular;
}

header {
    height: var(--header-size);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 98px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.logo {
    display: block;
    width: var(--logo-size);
    outline: none;
    margin-right: 170px;
}

.main-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main-menu a {
    font-family: MyriadProBold;
    font-weight: 600;
    text-decoration: none;
    display: block;
    color: var(--txt-color);
    text-transform: capitalize;
    font-size: 30px;
    transition: color 0.2s ease-in-out;
}

.main-menu > li ~ li {
    margin-left: 74px;
}

.mb-menu-toggle {
    position: absolute;
    right: 10px;
    display: none;
}

.hero {
    position: relative;
    height: 100vh;
    padding-left: 98px;
    overflow: hidden;
    padding-top: var(--header-size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: absolute;
    inset: 0;
    z-index: 98;
    padding-top: var(--header-size);
    padding-left: 98px;
}

.slider {
    height: 100%;
    position: relative;
}

.slide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: flex;
}

.slide.active {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.dish-info,
.dish-img {
    width: 50%;
    position: relative;
}

.dish-img > img {
    position: absolute;
    width: calc(100% + 568px);
    top: -235px;
    left: -200px;
    transform: translateX(450px) rotate(28deg);
    transition: transform 1s ease-in-out;
}

.slide.active .dish-img > img {
    transform: translateX(0) rotate(0);
}

.dish-name {
    width: max-content;
}

.dish-name > h2 {
    font-family: BerlinSans;
    text-transform: capitalize;
    font-size: 290px;
    font-weight: 600;
    width: max-content;
}

.dish-description > p {
    font-size: 23.76px;
    line-height: 36px;
}

.dish-name,
.dish-description {
    overflow: hidden;
}
.dish-name > h2,
.dish-description > p {
    transform: translateY(-100%);
    transition: transform 0.9s ease-in-out;
}

.slide.active .dish-name > h2,
.slide.active .dish-description > p {
    transform: translateY(0);
}

.dish-description,
.slide .btn {
    margin-top: 60px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--main-color);
    overflow: hidden;
    width: 0;
    height: 80px;
    border-radius: 0;
    background-color: var(--main-color);
    font-family: Bauhaus93;
    font-size: 30px;
    text-transform: uppercase;
    box-shadow: 0 0 54px 2px #4e4e4e;
    transition: transform 0.2s ease-in-out, width 0.6s ease-in-out,
        color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    transition-delay: 0s, 0.9s, 1.5s, 1.5s;
}

.slide.active .btn {
    width: 336px;
    color: var(--txt-color);
    border-radius: 40px;
}

.slider-control {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 98;
}

.slider-control-item {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border-radius: 50%;
}

.slider-control-item ~ .slider-control-item {
    margin-left: 30px;
}

.slider-control-item > img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

@media (hover: hover) {
    /* put hover css here */
    .main-menu a:hover {
        color: var(--main-color);
    }

    .slider-control-item:hover > img {
        transform: translateY(-20px) rotate(10deg);
    }

    .btn:hover {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 750px) {
    :root {
        --header-size: 50px;
    }

    header {
        padding-left: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: unset;
        height: 100%;
        padding: 10px;
        margin: unset;
    }

    .logo > img {
        height: 100%;
    }

    .main-menu {
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        height: calc(100vh - var(--header-size));
        flex-direction: column;
        padding: 20px 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: left 0.3s ease-in-out;
    }

    .main-menu.active {
        left: 0;
    }

    .main-menu > li ~ li {
        margin-left: unset;
        margin-top: 20px;
    }

    .main-menu a {
        font-size: 20px;
    }

    .mb-menu-toggle {
        display: block;
    }

    .hero-content {
        padding-left: 10px;
    }

    .slide {
        flex-direction: column-reverse;
    }

    .dish-info,
    .dish-img {
        width: unset;
    }

    .dish-info {
        height: 45%;
    }

    .dish-img {
        height: 55%;
    }

    .dish-img {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .dish-img > img {
        height: 100%;
        width: unset;
        position: unset;
        top: unset;
        left: unset;
    }

    .dish-name > h2 {
        font-size: 50px;
    }

    .dish-description > p {
        font-size: 14px;
        line-height: 26px;
    }

    .dish-description,
    .slide .btn {
        margin-top: 10px;
    }

    .btn {
        font-size: 20px;
        height: 40px;
    }

    .slide.active .btn {
        width: 150px;
    }

    .slider-control {
        right: 10px;
        bottom: 0;
        left: unset;
        transform: unset;
    }

    .slider-control-item {
        --size: 50px;
    }

    .slider-control-item ~ .slider-control-item {
        margin-left: 5px;
    }
}
